
.About{
    margin-top: 3em;
    margin-left: 22em;
    display: flex;
    flex-direction: column;
    width: 100%;
    
    
}
.about_heading{
    margin-bottom: 15px;
    
    font-size: 15px;
    text-transform: uppercase;
    color: #999999;
    font-weight: 600;
    letter-spacing: 5px;
    
   
}
.about_content{
    width:75%;

    color: rgba(0, 0, 0, 0.7);;
    font-weight: 400;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    font-size: 18px;
    
}
.about_who{
    font-size: 18px;
    font-family: "Playfair Display", Georgia, serif;
    margin-bottom: 2em;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 5px;
    line-height: 1.8;
   
}
   .about_what{
    font-size: 15px;
    margin-bottom: 2em;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 4px;
    line-height: 1.8;
    color: #999999;
  }
  h3{
    font-weight: 550;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-family: "Playfair Display", Georgia, serif;
    
  }